/* Overrides for docs */

a:link, a:visited, .docnav a:link, .docnav a:visited {
	border-bottom: 0;
	color: #06C;
	}

a:hover, a:active, .docnav a:hover, .docnav a:active {
	color: #03C;
	text-decoration: underline;
	}

blockquote {
	margin-left: 40px;
	margin-right: 40px;
	}

body {
	background-color: transparent;
	font-size: small;
	color: #333;
	margin: 0 auto;
	padding: 0;
	max-width: none;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	}

	body.toc_embeded {
		margin-left: auto;
		}

#breadcrumbs {
	color: #d9d9d9;
	margin: 0;
	padding: 0;
	}

#footerWrap, #footerWrap div, #header, #header div, #navPrimary, #navPrimary div {
	line-height: 1;
	}

	#footerWrap img, #header img {
		margin: 0;
		}

	#footerWrap li, #header li, #navPrimary li {
		line-height: 1;
		margin-bottom: 0;
		}

	#footerWrap ul, #header ul, #navPrimary ul {
		list-style-image: none;
		}

	#navPrimary .mega dd { 
		padding-bottom: 0;
		}

h1, h2, h3, h4, h5, h1 + h2 {
	padding: 0;
	}

hr {
	background-color: transparent;
	}

#main ol {
	margin: 1em 0;
	padding: 0 0 0 40px;
	}

	#main ol ol {
		margin: 0;
		}

#main ul.docnav {
	background-color: transparent;
	box-shadow: none;
	height: 32px;
	line-height: auto;
	margin: 30px auto 1em;
	padding: 0;
	position: static;
	width: 100%;
	}

	#main #title + ul.docnav {
		margin-top: 0;
		height: 46px;
		}

	#main ul.docnav li.home {
		display: none;
		}

	#main ul.docnav li.next a strong, #main ul.docnav li.previous a strong, #main ul.docnav .home {
		color: #06c;
		padding: .3em 36px .3em 0;
		}

		#main ul.docnav li.previous a strong {
			padding-left: 36px;
			padding-right: 0;
			}

#navPrimary .mega dl {
	margin-left: 0;
	}

.pageSelect {
	background: transparent;
	padding: .3em 36px .3em 0;
	border: 1px solid #ccc;
	}

.producttitle {
	line-height: 1;
	}

#title {
	display: none;
	}

.toc dt {
	margin-top: 0;
	}
