/**
 * Generic boxes & columns
**/

div.clear,
li.clear {
	clear: both;
	}

/* Main Links */
/* These are the grey gradient horizontal boxes, like on the Knowledge landing and Help pages. Limited to 4 across. */
.main-links-block {
	background: #fdfdfd; /* Old browsers */
	background: -moz-linear-gradient(top, #fdfdfd 0%, #f4f4f4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fdfdfd 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fdfdfd 0%,#f4f4f4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fdfdfd 0%,#f4f4f4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fdfdfd 0%,#f4f4f4 100%); /* W3C */
	border: 1px solid #ccc;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin: 0 0 20px;
	width: 100%;
	}

#main .main-links-block ul,
#main .main-links-block li {
	list-style: none;
	line-height: .75em;
	margin: 0;
	padding: 0;
	text-align: center;
	}

#main .main-links-block li {
	border-left: 1px solid #ccc;
	display: inline-block;
	*display: inline;
	*float: left;
	vertical-align: top;
	width: 24%;
	}
	#main .main-links-block li:first-child {
		border: 0;
		}
		
.main-links-block li a {
	background: none;
	color: #333;
	float: left;
	line-height: 1.5em;
	padding: 30px 30px 25px;
	text-decoration: none;
	}
		
.main-links-block .link-block-icon {
	display: block;
	margin-bottom: 10px;
	font-size: 40px;
	line-height: 40px;
	}
	.main-links-block .link-block-icon:before {
		color: #333;
		}
	
.main-links-block h3 {
	font-size: 1em;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	}
	
.main-links-block p {
	font-size: 92%;
	margin: 0;
	}
	
	.main-links-block li a:hover,
	.main-links-block li a:hover h3,
	.main-links-block li a:hover .link-block-icon:before {
		color: #06c;
		}

/* Generic Width and Margins Settings for Boxes & Columns */
.box-column, .column, .os-column {
	float: left;
	margin-bottom: 20px;
	margin-left: 2.22222%;
	width: 48.88889%; /* At 50% for 2 columns */
	}
	#main.column {
		float: none;
		margin-bottom: 0;
		width: auto;
		}
	
	.right-column {
		float: right;
		}
	
	.three-columns,
	.three-boxes,
	.three-os-columns {
		width: 31.851851851852%;
		}
		
	.four-columns,
	.four-boxes,
	.four-os-columns {
		width: 23.3333%;
		}
		
	.full-column,
	.full-box {
		width: 100%;
		}
		
	.two-thirds-column {
		width: 66.6667%; /* width @ 900 = 600px */
		}
		.two-thirds-column.wide-margin {
			width: 64.4444%; /* width @ 900 = 580px */
			}
		
	.one-third-column {
		width: 31.1111%;
		}
		
	.wide-margin {
		margin-left: 4.4444%
		}
		
/* Removing the margin on first boxes/columns */
.first-box,
.first-column {
	margin-left: 0;
	}
		
/* Box Columns */
/* These are the open header, rounded corner boxes like on the Help page */
.box-column-inner {
	border: 1px solid #ccc;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	}
	
	.box-column h3 {
		font-size: 1em;
		}
		
	.box-column h2,
	.box-column .box-column-inner > h3:first-child {
		border-bottom: 1px solid #ccc;
		font-size: 1.077em;
		line-height: 1.2em;
		margin: -20px -20px 1em;
		padding: 13px 20px;
		position: relative;
		text-transform: uppercase;
		}
	.box-column h2.insider {
		margin-top: 20px;
		border-top: 1px solid #ccc;
		}
	.box-column h2.loner {
		border: 0;
		margin: 0 0 1em;
		padding: 0;
		}
		
	/* Light Grey Headers */
	h2.grey-header,
	.box-column .box-column-inner > h3.grey-header:first-child {
		background: #f4f4f4;
		}
	h2.grey-header:first-child,
	.box-column .box-column-inner > h3.grey-header:first-child {
		-webkit-border-top-left-radius: 6px;
		-webkit-border-top-right-radius: 6px;
		-moz-border-radius-topleft: 6px;
		-moz-border-radius-topright: 6px;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		}
		
	/* Inverted Headers */
	h2.inverted-header,
	.box-column .box-column-inner > h3.inverted-header:first-child {
		background: #333;
		border-bottom-color: #333;
		color: #fff;
		margin: -21px -21px 1em;
		padding: 15px 21px;
		}
	h2.inverted-header:first-child,
	.box-column .box-column-inner > h3.inverted-header:first-child {
		-webkit-border-top-left-radius: 6px;
		-webkit-border-top-right-radius: 6px;
		-moz-border-radius-topleft: 6px;
		-moz-border-radius-topright: 6px;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		}
		
/* Message Box */
.message-box {
	margin-bottom: 20px;
	}
.message-inner {
	border: 1px solid #ccc;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 10px 20px;
	}
	.message-box h2,
	.message-box p {
		display: inline;
		margin: 0;
		}
	.message-box h2 {
		font-size: 1em;
		margin-right: .5em;
		text-transform: uppercase;
		}

		
/* Old School Columns */
/* Slightly modified version of the original "accent header" columns */	
	.os-column h2,
	h2.old-school {
		background: #f5f5f5 url("/chrome_themes/umbra/g/headerBg.png") repeat-x;
		*background-color: #e6e6e6;
		background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
		background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
		background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
		background-image: linear-gradient(top, #ffffff, #e6e6e6);
		background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
		border: 1px solid #c9cacb;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		color: #3e464c;
		font-size: 100%;
		margin-bottom: 1em;
		padding: 7px 10px;
		}
		
/* Sidebars */
.sidebar h3 {
	font-size: 1em;
	margin: 0;
	padding: 0;
	}
